*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

body{
    display:flex;
    align-items: center;
    width: 100vw;
    height:100vh;
}

.left-portion{
    background-image:url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size:cover;
    width: 40%;
    height: 100vh;
}
.left-container{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity:0.5;
    margin-top: 30%;
    margin-bottom: auto;
    padding:10px;
}
img{
    height: 150px;
    width: auto;
}
.bold{
    font-weight: bold;

}
.title-font{
    color: white;
    font-size: 80px;
}
.right-portion{
    background-color:azure;
    width: 60%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    font-size: 30px;
}
.right-item{
    margin-left: 40px;
    margin-right:40px;
    margin-top:20px;
    margin-bottom:20px;
}
.form-container{
    background-color: white;
    box-shadow: 10px 5px 5px grey;
    font-size: 20px;
    margin:0px;
    padding-left:40px;
    padding-right:40px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-section{
    display: flex;
    width: 60vw;
    padding-left:40px;
    padding-right:40px;
}
.form-item{
    display: flex;
    flex-direction: column;
    margin-right:100px;
    margin-top:30px;
    margin-bottom:30px;
    width: 400px;
}

button{
    background-color: green;
    color: white;
    border-radius: 5px;
    width: 200px;
    padding:10px;

}
.login-prompt{
    font-size: 20px;
}
